@page
@model Hospital.App.Frontend.Pages.EditarMedicoModel
@{
    ViewData["Title"] = "Actualizar Información de Medicos";
}
<h1>Editar Medico</h1>
<h3> @ViewData["Error"]</h3>
<form method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
    <input type="hidden" asp-for="medico.Id" />
    <div class="mb-3">
        <label asp-for="medico.Nombre" class="form-label">Nombres</label>
        <input type="text" asp-for="medico.Nombre" class="form-control" id="Nombre">
        <span asp-validation-for="medico.Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="medico.Apellidos" class="form-label">Apellidos</label>
        <input type="text" asp-for="medico.Apellidos" class="form-control" id="txtApellidos">
        <span asp-validation-for="medico.Apellidos" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="medico.NumeroTelefono" class="form-label">Numero de Telefono</label>
        <input type="text" asp-for="medico.NumeroTelefono" class="form-control" id="txtNumeroTelefono">
        <span asp-validation-for="medico.NumeroTelefono" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="medico.Genero" class="form-label">Genero</label>
        <input type="text" asp-for="medico.Genero" class="form-control" id="txtGenero">
        <span asp-validation-for="medico.Genero" class="text-danger"></span>
    </div>
<!-- Atributos de medico únicamente-->

    <div class="mb-3">
        <label asp-for="medico.Especialidad" class="form-label">Especialidad</label>
        <input type="text" asp-for="medico.Especialidad" class="form-control" id="txtEspecialidad">
        <span asp-validation-for="medico.Especialidad" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="medico.Codigo" class="form-label">Codigo</label>
        <input type="text" asp-for="medico.Codigo" class="form-control" id="txtCodigo">
        <span asp-validation-for="medico.Codigo" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="medico.RegistroRethus" class="form-label">RegistroRethus</label>
        <input type="text" asp-for="medico.RegistroRethus" class="form-control" id="txtRegistroRethus">
        <span asp-validation-for="medico.RegistroRethus" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>