@page
@model Hospital.App.Frontend.Pages.ListadoHistoriasModel
@{
     ViewData["Title"] = "Listado de Historias Clinicas";
}
<h1>Listado de Historias Clinicas</h1>
<h2>Paciente: @Model.Persona.Nombre  @Model.Persona.Apellidos</h2>
