@page
@model Hospital.App.Frontend.Pages.EditarAuxiliarModel
@{
    ViewData["Title"] = "Actualizar Información de Auxiliares";
}
<h1>Editar Auxiliar</h1>
<h3> @ViewData["Error"]</h3>
<form method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
    <input type="hidden" asp-for="auxiliar.Id" />
    <div class="mb-3">
        <label asp-for="auxiliar.Nombre" class="form-label">Nombres</label>
        <input type="text" asp-for="auxiliar.Nombre" class="form-control" id="Nombre">
        <span asp-validation-for="auxiliar.Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="auxiliar.Apellidos" class="form-label">Apellidos</label>
        <input type="text" asp-for="auxiliar.Apellidos" class="form-control" id="txtApellidos">
        <span asp-validation-for="auxiliar.Apellidos" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="auxiliar.NumeroTelefono" class="form-label">Numero de Telefono</label>
        <input type="text" asp-for="auxiliar.NumeroTelefono" class="form-control" id="txtNumeroTelefono">
        <span asp-validation-for="auxiliar.NumeroTelefono" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="auxiliar.Genero" class="form-label">Genero</label>
        <input type="text" asp-for="auxiliar.Genero" class="form-control" id="txtGenero">
        <span asp-validation-for="auxiliar.Genero" class="text-danger"></span>
    </div>
<!-- Atributos de auxiliar únicamente-->

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>